#home-products {
  padding: 110px 7%;
  .home-products {
    .head {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 50px;
      .left {
        .title {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        h1 {
          padding-top: 10px;
          max-width: 740px;
          width: 100%;
          line-height: 140%;
          letter-spacing: 0.2px;
        }
      }
      .products-btn{
        width: auto;
        display: block;
        height: 60px;
      }
    }
    .products{
      // display: flex;
      // flex-direction: column;

    
    .products-content {
      display: flex;
      gap: 30px;
      .product-card {
        display: flex;
        flex-direction: column;
        box-shadow:1px 4px 7px #0000000A;
        border-radius: 10px;
        overflow: hidden;
        img {
          width: 100%;
        }
        .text {
          padding: 24px 20px;
          transition: all 300ms;
          .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            span {
              font-size: 16px;
              color: #212122;
              font-weight: 500;

            }
            .arrow-icon {
              transform: rotate(45deg);
              padding: 8px;
              border-radius: 50%;
                  transition: all 300ms ease;

              path {
                fill: black;
              }
            }
        }
        p{
            color:#6F6F6F ;
            font-size: 14px;
            padding-top: 10px;
        }
        }
        &:hover{
            .arrow-icon {
             
               background-color: #37A645;
           
              path {
                fill: rgb(255, 255, 255) !important;

              }
            }
        }
      }
    }
     .product-btn{
        display: none;
      }
  }
  }
   @media screen and (max-width: 991px) {
    padding-top: 120px;
    .head{
      flex-direction: column  ;
      h1{
        font-size: 24px;
      }
      .products-btn{
        display: none !important;
      }
    }
    margin-top: -80px;
    .products-content{
      flex-wrap: wrap;
      // flex: 2 2 calc(43.333% - 100px);
      .product-card {
        flex: 1 1 calc(40% - 30px); 
      }
      .products-btn{
        display: block;
      }
    }
    .products {
      .product-btn{
        display: flex !important ;
        
      }
    }
  }

  @media screen and (max-width: 600px) {
   
    .products {
      .product-card {
        flex: 1 1 100%; 
      }
      .product-btn{
        display: block !important;
      }
    }
  }
}
